body {
    padding-top: 60px;
    min-height: 100%;
}

div.navbar {
    background-color: ivory ;
}

div.titleDiv{
    height:40px ;
}

div.articleText {
    white-space: pre-wrap;
}

div#editArticle{
    padding-bottom: 10px;
}

div.jumbotron{
    margin-bottom: 10px;
}

div.images{
    padding-bottom: 10px;
}

label#ageLabel{
    padding-top: 0;
}

div.recaptcha{
    padding-bottom: 15px;
}

img.user-image {
    width: 89px;
}

img.thumbnail-logo,
img.thumbnail-usericon {
    height: 50px;
}